#Container {
    width: 960px;    
    margin: 0px auto;
    display: block;
    overflow: hidden;

}


#navbar {
    background-color: maroon;
    color: white;
    padding: 2px;
    width: 960px;
    overflow: hidden;
    float: right;
    font-size: 1.2em;
    margin-bottom: 1px;
    box-sizing: border-box;

}
li {
    display: inline;
    padding-right: 15px;
    
}

ul{
    float: right;
}

a{
    color: white;
}
img {
    width: 100%;
}
.divs {
    width: 31%;
    margin: 1%;
}

#list {
    background-color: #ffbe00;
    width: 300px;
    float: right;
    padding: 10px;
}
.pars {
    padding-top: 5px;
    padding-bottom: 9px;
    border-bottom: solid 1px gray;
}

#st {
    float: left;
}
#nd {
    float: left;
}
#rd {
    float: left;
    clear: left;
}
img {
    color: #27ae61
}

#forth {
    float: left;
}
#fifth {
    float: left;
}
#sixth {
    float: left;
}
#seventh {
    float: left;
}
#eight {
    float: left;
}

#footer {
    background-color: rgb(45, 62, 80);
    height: 60px;
    width: 80%;
    margin: 0 auto;
    color: white;
}
#foot {
    margin-left: 22%;
}